* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
    line-height: 15px;
}


#page, #page1, #page2, #page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}

canvas {
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}

#loop {
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}

#loop > h1 {
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loop > h1 > span {
    -webkit-text-stroke: 1.2px rgb(207, 207, 5);
    color: transparent;
    font-weight: 500;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
    background-color: #fff;
}

#nav > h3 {
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}

#nav > button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #28064a;
    color: #fff;
    scrollbar-3dlight-color: #1d191d;
    
}

#page > h3 {
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
}

#page > h4 {
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}

#page1 > #right-text {
    position: absolute;
    top: 30%;
    left: 10%;
}

#page1 > #right-text > h3 {
    font-weight: 400;
    color: #d100c3;
}

#page1 > #right-text > h1 {
    line-height: 1.5;
    font-size: 50px;
}

#page1 > #left-text {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: end;
}

#page1 > #left-text > h1 {
    font-size: 50px;
    line-height: 1.5;
}

#page1 > #left-text > h3 {
    color: #979797;
    font-weight: 400;
    
}

#page2 > #text1 {
    position: absolute;
    top: 30%;
    left: 10%;
}

#page2 > #text1 > h3 {
    color: #7c7c7c;
    font-weight: 400;
}

#page2 > #text1 > h1 {
    font-size: 60px;
    line-height: 1.5;
}

#page2 > #text2 {
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}

#page2 > #text2 > p {
    color: #7c7c7c;
    font-weight: 400;
}

#page3 > #text3 {
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}

#page3 > #text3 > h3 {
    color: #7c7c7c;
    font-weight: 400;
}

#page3 > #text3 > h1 {
    font-size: 70px;
    line-height: 80%;
}

/* Dark Theme */
.dark-theme {
    background-color: #100656;
    color: #e0e0e0;
}

.dark-theme #nav {
    background-color: #001289;
}

.dark-theme #nav > button {
    background-color: #1d1b44;
}

.dark-theme #page,
.dark-theme #page1,
.dark-theme #page2,
.dark-theme #page3 {
    background-color: #090337;
}

.dark-theme #loop > h1 {
    color: #e0e0e0;
}

.dark-theme #page > h3,
.dark-theme #page > h4,
.dark-theme #page1 > h3,
.dark-theme #page1 > h1,
.dark-theme #page2 > h3,
.dark-theme #page2 > h1,
.dark-theme #page2 > p,
.dark-theme #page3 > h3,
.dark-theme #page3 > h1 {
    color: #e0e0e0;
}
